<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
.error {
	color: red;
}
	</style>
</head>
<body>
	<p>Select the beamer presentation you want to remove the pause from and
	then click the submit button. It is recommended to leave the advanced
	options as is.</p>
	{% if message.is_some() %}
		<p class="error">{{ message.unwrap() }}</p>
	{% endif %}
	<form method="post" enctype="multipart/form-data">
		<input type="file" accept="application/pdf" name="file" required>
		<input type="submit">
		<p>Advanced:</p>
		<div>
			<input type="checkbox" name="download" checked>
			<label for="download">Download PDF instead of displaying displaying it inline</label>
		</div>
		<div>
			<input type="checkbox" name="prune-objects" checked>
			<label for="prune-objects">Optimize PDF (Recommended)</label>
		</div>
		<div>
			<input type="checkbox" name="renumber-objects" checked>
			<label for="renumber-objects">Renumber PDF objects (Recommended)</label>
		</div>
	</form>
</body>
</html>
